/* -------- CSS ---------- */
*{
    margin: 0;
    padding: 0;
}

/* -------- NAV STARTS HERE ---------- */
nav{
    height: 10vh;
    background-color: rgb(78, 240, 78);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
}

nav img {
    margin: 1vh 3vh;
    height: 8vh;
    width: 8vh;
    cursor: pointer;
    border-radius: 4vh;
}

nav img:hover {
    background-color: blue;
    border-radius: 4vh;
}

nav .title {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
}

nav .total {
    /* text-align: center; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vh;
}

.middle_stats {
    display: none;
}

.stats_buttons {
    /* background-color: blue; */
    margin: auto;
    text-align: center;
}

nav .stats_buttons .hide_stats {
    display: none;
    background-color: red;
    margin: auto;
}

.nav_add_user, .nav_update_user, .nav_delete_user, .display_stats, .hide_stats {
    background-color: aquamarine;
    font-size: 2vh;
    font-weight: bold;
    color: green;
    text-decoration: none;
    margin: auto;
    padding: 2vh 0;
    width: 10vw;
    text-align: center;
    border-radius: 1vh;
}

.nav_add_user:hover, .nav_update_user:hover, .nav_delete_user:hover, .display_stats:hover, .hide_stats:hover{
    background-color:blue;
    cursor: pointer;
}
/* --------- NAV ENDS HERE ----------- */

/* --------- MAIN STARTS HERE -------- */
main{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    height: 90vh;
}

/* -------- MAIN LEFT STARTS HERE -------- */
main .left {
    /* text-align: center; */
    background-color: rgb(119, 249, 119);
    overflow-y: auto;
}

main .left .menu_user{
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
}

main .left .menu_user a:focus{
    color: red;
}


main .left .menu_user:hover{
    font-weight: bold;
    color: blue;
}
/* -------- MAIN LEFT ENDS HERE -------- */

/* -------- MAIN MIDDLE STARTS HERE ------- */
select {
    width: 5vw;
    height: 3vh;
    font-size: 1vw;
}

/* main .add_section, main .update_section, main .delete_section {
    display: none;
} */

.middle {
    height: 80vh;
    margin: 2vh;
}

.main-middle-img {
    height: 4vh;
}

.main_grid {
    width: 90%;
    margin: 5%;
}

.empty_div{
    background-color: white;
}

.user_name_style{
    background-color: rgba(173, 25, 25, 0.877);
    color: white;
    font-weight: bold;
    font-size: 4vh;
    border-radius: 2vh;
}

.container { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "space_o1 . . . . . . . space_o9"
      ". space_q1 . . . . . space_q5 ."
      "space_o2 . . . . . . . space_o10"
      ". . space_s1 . . . space_s3 . ."
      "space_o3 . . . . . . . space_o11"
      ". space_q2 . . . . . space_q6 ."
      "space_o4 . . . . . . . space_o12"
      ". . . space_f1 . space_f2 . . ."
      "space_o5 . . . space_c1 . . . space_o13"
      ". space_q3 . . . . . space_q7 ."
      "space_o6 . . . . . . . space_o14"
      ". . space_s2 . . . space_s4 . ."
      "space_o7 . . . . . . . space_o15"
      ". space_q4 . . . . . space_q8 ."
      "space_o8 . . . . . . . space_o16";
}

.container div {
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

.flag_area {
    background-color: lightgray;
    border-radius: 2.5vh;
}

.space_o1 { grid-area: space_o1; }

.space_o2 { grid-area: space_o2; }

.space_o3 { grid-area: space_o3; }

.space_o4 { grid-area: space_o4; }

.space_o5 { grid-area: space_o5; }

.space_o6 { grid-area: space_o6; }

.space_o7 { grid-area: space_o7; }

.space_o8 { grid-area: space_o8; }

.space_o9 { grid-area: space_o9; }

.space_o10 { grid-area: space_o10; }

.space_o11 { grid-area: space_o11; }

.space_o12 { grid-area: space_o12; }

.space_o13 { grid-area: space_o13; }

.space_o14 { grid-area: space_o14; }

.space_o15 { grid-area: space_o15; }

.space_o16 { grid-area: space_o16; }

.space_q1 { grid-area: space_q1; }

.space_q2 { grid-area: space_q2; }

.space_q3 { grid-area: space_q3; }

.space_q4 { grid-area: space_q4; }

.space_q5 { grid-area: space_q5; }

.space_q6 { grid-area: space_q6; }

.space_q7 { grid-area: space_q7; }

.space_q8 { grid-area: space_q8; }

.space_s1 { grid-area: space_s1; }

.space_s2 { grid-area: space_s2; }

.space_s3 { grid-area: space_s3; }

.space_s4 { grid-area: space_s4; }

.space_f1 { grid-area: space_f1; }

.space_f2 { grid-area: space_f2; }

.space_c1 { grid-area: space_c1; }

/* -------- MAIN DISPLAY STATS STARTS HERE ------- */
.div_row {
    width: 100%;
    display: flex;
    
}

.div_fixed {
    padding: 1vh;
    width: 200px;
    flex: 0 0 200px;
    background-color: lightgrey;
    text-align: start;
    border: 1px solid black;
}

.div_flex {
    padding: 1vh;
    background-color: green;
    text-align: end;
    font-weight: bold;
    color: white;
    border: 1px solid black;
}
/* -------- MAIN DISPLAY STATS ENDS HERE ------- */

/* -------- MAIN UPDATE USER STARTS HERE ------- */
.update_user {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: aliceblue;
    list-style: none;
}

.update_user:hover{
    font-weight: bold;
    color: blue;
    background-color: greenyellow;
}

.form_button {
    padding: 1vh;
    margin: 1vh;
    background-color: greenyellow;
}

.form_button:hover {
    background-color: blue;
    color: white;
    font-weight: bold;
}

.readonly {
    background-color: grey;
}

.readonly:hover {
    cursor: not-allowed;
}

/* -------- MAIN UPDATE USER ENDS HERE ------- */

/* -------- MAIN DELETE USER STARTS HERE ------- */
.delete_user {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: orange;
    list-style: none;
}

.delete_user:hover{
    font-weight: bold;
    color: white;
    background-color: red;
}

/* -------- MAIN DELETE USER ENDES HERE ------- */

/* ----------- MAIN MIDDLE ENDS HERE ------- */

/* ---------MAIN RIGHT STARTS HERE -------- */
main .right {
    /* text-align: center; */
    background-color: rgb(119, 249, 119);
    text-decoration: none;
    padding: 1vh 1vw;
    overflow-y: auto;
}

main .right h3 {
    text-align: center;
}

main .right ul {
    left: 1vw;
    list-style: none;
}
/* -------MAIN RIGHT ENDS HERE ---------- */


  